/* Mobile */
@media screen and (min-width: 390px) and (max-width: 720px) {
  #products {
    grid-template-columns: repeat(1, 325px);
    grid-template-rows: 325px;
    width: 325px;
  }

  header {
    display: none;
  }
  #categories .nav-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    min-width: 400px;
    overflow: hidden;
  }
  #categories .nav-categories div {
    display: flex;
    gap: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1024px) {
  #products {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 480px);

    width: 600px;
  }

  header {
    display: none;
  }
}
