/* Mobile */
@media screen and (min-width: 390px) and (max-width: 720px) {
  header {
    display: none;
  }

  /* Categories */
  #categories .nav-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    min-width: 400px;
    overflow: hidden;
  }
  #categories .nav-categories div {
    display: flex;
    gap: 16px;
  }

  /* Products */
  #products {
    grid-template-columns: repeat(1, 325px);
    grid-template-rows: repeat(1, 325px);
    width: 325px;
  }
  
  
  /* Footer */
  footer {
    flex-direction: column;
    gap: 24px;
  }
  footer .rights {
    align-items: center;
  }
}

/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1024px) {
  header {
    display: none;
  }
  
  /* Products */
  #products {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(1, 480px);
    
    width: 600px;
  }
}

@media screen and (min-width: 390px) and (max-width: 800px) {
  /* Feedback */
  #feedback .messages {
    grid-template-columns: repeat(1, 375px);
    grid-template-rows: repeat(1, 145px);
  }
  
}
@media screen and (min-width: 800px) and (max-width: 1185px) {
  /* Feedback */
  #feedback .messages {
    grid-template-columns: repeat(2, 375px);
    grid-template-rows: repeat(1, 145px);
  }
}
