* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;

    scrollbar-width: none;
    scrollbar-color: var(--red) var(--bg);
    scrollbar-gutter: stable;
}

:root {
    --red: #c64132;
    --dark-red: #9d1a1a;
    --blue: #8eb6f5;
    --ice-blue: #ebedf0;
    --gray: #666666;

    --bg: #f9fafb;
}

body {
    background-color: var(--bg);
}
h1, h2, h3, h4, h5, h6, p, q, span {
    cursor: default;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: clamp(1rem, 4vw, 2rem) clamp(0.5rem, calc(4vw + 2rem), 8rem);
}

/* LOGO */
#logo {
    color: var(--dark-red);
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);

    cursor: pointer;
}

/* NAV */
header nav {
    display: flex;
    gap: 16px;
}
header nav a {
    color: black;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    position: relative;
}
header nav a::before {
    content: "";
    height: 2px;
    width: 0;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    
    background-color: var(--red);
    transition: .2s;
}
header nav a:hover::before {
    width: 100%;
}

/* SEARCH */
header #search {
    display: flex;
}
header #search input {
    padding: 8px 16px;

    border: none;
    outline: 1px solid var(--ice-blue);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
header #search button {
    padding: 8px 16px;

    border: none;
    outline: 1px solid var(--ice-blue);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: var(--dark-red);
    color: white;
    cursor: pointer;
}
header #search button:hover {
    background-color: var(--red);
}

/* Background Image */
#face {
    width: 100vw;
    height: fit-content;

    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    color: white;
    z-index: -99;

    background-color: rgba(0, 0, 0, .85);
}
#face img {
    width: clamp(6rem, 10vw, 10rem);
    height: clamp(6rem, 10vw, 10rem);
    
}

#face .text {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 22px;
}
#face .text h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 700;
}
#face .text p {
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-weight: 100;
    line-height: 1.5;
}

#face button {
    padding: clamp(1rem, 2vw, 1.2rem) clamp(1.4rem, 4vw, 2rem);

    border-radius: 8px;
    border: none;
    
    background-color: var(--dark-red);

    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 700;
    color: white;
    cursor: pointer;
    
    position: relative;
    top: -4px;
    box-shadow: 0px 4px 0px #781414;
}
#face button:hover {
    background-color: var(--red);
}
#face button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px var(--dark-red);
}

/* --------------------------------------------------------------Categories-------------------------------------------------------------- */
#categories {
    padding: clamp(1rem, 4vw, 2rem) clamp(0.5rem, calc(4vw + 2rem), 8rem);
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 16px;
}

#categories h1 {
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    margin-top: clamp(0.5rem, 2vw, 1rem);
}

#categories .nav-categories {
    display: flex;
    align-items: center;
    gap: 16px;

    min-width: 400px;
    overflow: hidden;
}
#categories .nav-categories div {
    display: flex;
    gap: 16px;
}

#categories .nav-categories a {
    color: black;
    font-size: clamp(1rem, 2vw, 1.2rem);
    position: relative;
}
#categories .nav-categories a::before {
    content: "";
    height: 2px;
    width: 0;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    
    background-color: var(--red);
    transition: .2s;
}
#categories .nav-categories a:hover::before {
    width: 100%;
}
/* --------------------------------------------------------------Modal-------------------------------------------------------------- */
#bg {
    background-color: rgba(0, 0, 0, .75);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.hidden {
    
}

#bg .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 12px;

    position: relative;

    padding: 2rem 15rem;


    background-color: aqua;
}

#bg .modal .form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* --------------------------------------------------------------Products-------------------------------------------------------------- */
#products {
    padding: clamp(1rem, 4vw, 2rem) 0;

    display: grid;
    grid-template-columns: repeat(3, 325px);
    grid-template-rows: repeat(1, 465px);
    gap: 24px;

    width: fit-content;

    position: relative;
}
#products h1 {
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
}

/* Product */
#products .product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    outline: 0.20px solid rgba(0, 0, 0, .05);
    border-radius: 6px;

    padding: 12px;

    background-color: white;

    position: relative;
}
#products .product img {
    width: 100%;
    height: 250px;

    background-position: center;
    background-image: cover;
    background-size: cover;
    background-repeat: no-repeat;

    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 12px;
}
#products .product .tag {
    display: flex;
    gap: 8px;
}
#products .product span {
    color: white;
    font-weight: 700;
    font-size: clamp(0.75rem, 2vw, 0.8rem);
    text-transform: capitalize;

    padding: 6px 10px;    

    border-radius: 12px;
    border: none;

    width: fit-content;
    height: fit-content;

    background-color: var(--red);
}

#products .product .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
}
#products .product .text h2 {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 1rem);
    text-transform: capitalize;
}
#products .product .text p {
    font-size: clamp(0.2rem, 0.9rem, 1rem);
    text-transform: capitalize;

    max-width: 280px;
    max-height: 31px;

    overflow: scroll;
    font-weight: 600;
    color: var(--gray);
}
#products .product .price {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 1.2rem);
    color: var(--red);
}

/* Product Button */
.product .buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    height: 50px;
    width: 250px;
    /* position: absolute;
    bottom: 15px; */
}
.product .buttons button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px var(--dark-red);
}
.edit, .buy, .delete {
    cursor: pointer;
}

/* Buy */
.product .buttons .buy {
    padding: clamp(0.7rem, 3rem, 0.8rem) clamp(1.5rem, 4vw, 1.2rem);

    border-radius: 8px;
    border: none;
    
    background-color: var(--dark-red);

    font-size: clamp(0.8rem, 2vw, 1.1rem);
    font-weight: 700;
    color: white;
}
.product .buttons .buy:hover {
    background-color: var(--red);
}

/* Edit/Delete */
.product .buttons .edit, .product .buttons .delete {
    /* padding: clamp(0.7rem, 3rem, 0.2rem) clamp(1.5rem, 4vw, 0.2rem); */
    height: 100%;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border: none;
    
    border: 2px solid var(--dark-red);

    font-size: clamp(0.8rem, 2vw, 1.1rem);
    background-color: white;
}
.product .buttons .edit:hover, .product .buttons .delete:hover {
    background-color: var(--dark-red);
    color: white;
}


/* Add Button */
#products #addbtn {
    border-radius: 8px;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    cursor: pointer;

    background-color: var(--dark-red);
}
#products #addbtn:hover {
    background-color: var(--red);
}
#products #addbtn:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px var(--dark-red);
}
#products #addbtn i {
    font-size: clamp(4rem, 5vw, 5rem);
}

/* --------------------------------------------------------------Feedback-------------------------------------------------------------- */
#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 48px;
    width: 100%;

    background-color: white;
}
#feedback h1 {
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);

}

/* Messages */
#feedback .messages {
    display: grid;
    grid-template-columns: repeat(3, 375px);
    grid-template-rows: repeat(1, 145px);
    gap: 24px;
}
#feedback .messages .msg {
    display: flex;
    flex-direction: column;   
    text-align: center;
    gap: 16px;

    padding: 32px;
    border-radius: 8px;

    background-color: var(--bg);
}
.messages .msg q {
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 100;
    line-height: 1.5;
    font-style: italic;

    color: var(gray);
}
.messages .msg span {
    font-size: clamp(.95rem, 2vw, 1rem);
    font-weight: 600;
    color: var(--dark-red);
}

/* --------------------------------------------------------------Newsletter-------------------------------------------------------------- */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 32px;
    margin: 32px 0px;

    width: 100%;

    color: white;
    background-color: var(--dark-red);
}
#newsletter h1 {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);
}
#newsletter p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 100;
    line-height: 1.5;
}

#newsletter .form {
    display: flex;
    gap: 8px;
}
#newsletter .form input {
    padding: 12px;

    border: none;
    outline: none;
    border-radius: 6px;

    width: 270px;
}
#newsletter .form button {
    padding: 12px 24px;

    border: none;
    outline: none;
    border-radius: 6px;

    color: var(--red);
    background-color: white;

    cursor: pointer;
}

/* --------------------------------------------------------------Footer-------------------------------------------------------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding: 32px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    background-color: white;
    
}

footer .rights {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer .rights h3 {
    font-weight: 700;
    font-size: clamp(1.3rem, 4vw, 1.6rem);
    color: var(--dark-red);
}
footer .rights p {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 100;
    color: var(--gray);
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    color: var(--gray);
}
footer .links li {
    cursor: pointer;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}