* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

:root {
    --red: #c64132;
    --blue: #8eb6f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: clamp(1rem, 4vw, 2rem) clamp(0.5rem, calc(4vw + 2rem), 8rem);
}

/* LOGO */
#logo {
    color: var(--red);
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);

    cursor: pointer;
}

/* NAV */
header nav {
    display: flex;
    gap: 16px;
}
header nav a {
    color: black;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    position: relative;
}
header nav a::before {
    content: "";
    height: 2px;
    width: 0;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    
    background-color: var(--red);
    transition: .2s;
}
header nav a:hover::before {
    width: 100%;
}

/* SEARCH */
header #search {
    display: flex;
}
header #search input {
    padding: 8px 16px;

    border: none;
    outline: 1px solid black;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
header #search button {
    padding: 8px 16px;

    border: none;
    outline: 1px solid black;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: var(--red);
    color: white;
    cursor: pointer;
}
header #search button:hover {
    background-color: #e74938;
}

/* Background Image */
#face {
    background-image: url(assets/background.jpg);
    background-position: 150px -150px;
    width: 100vw;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    color: white;
    z-index: -99;
}
#face img {
    width: 100px;
    height: 100px;
    
}

#face .text {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 8px;

    font-weight: 700;
}

#face button {
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);

    border-radius: 8px;
    border: none;
    
    background-color: var(--red);

    font-size: clamp(0.6rem, 2vw, 1rem);
    font-weight: 700;
    color: white;
    cursor: pointer;
    
    position: relative;
    top: -4px;
    box-shadow: 0px 4px 0px #c64132df;
}
#face button:hover {
    background-color: #e74938;
}
#face button:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 0px #c64132df;
}

/* Categories */
#categories {
    padding: clamp(1rem, 4vw, 2rem) clamp(0.5rem, calc(4vw + 2rem), 8rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    
}

#categories h1 {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
    margin-top: clamp(0.5rem, 2vw, 1rem);
}

#categories .nav-categories {
    display: flex;
    gap: 24px;
}
#categories .nav-categories a {
    color: black;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    position: relative;
}
#categories .nav-categories a::before {
    content: "";
    height: 2px;
    width: 0;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    
    background-color: var(--red);
    transition: .2s;
}
#categories .nav-categories a:hover::before {
    width: 100%;
}

/* Products */
#products {
    padding: clamp(1rem, 4vw, 2rem) 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}
#products h1 {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 2rem);
    margin-bottom: clamp(0.5rem, 2vw, 1rem);
}

/* Product */
#products .product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#products .product img {
    width: 100%;
    height: 300px;
}

#products .product span {
    color: white;
    font-weight: 700;
    font-size: clamp(0.6rem, 2vw, 0.8rem);

    padding: 6px 10px;

    border-radius: 12px;
    border: none;

    width: fit-content;
    height: fit-content;

    background-color: var(--red);
}

#products .product .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
#products .product h2 {
    font-weight: 700;
    font-size: clamp(1rem, 4vw, 1rem);
}
#products .product p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

#products .product button {
    padding: clamp(0.5rem, 2vw, 0.8rem) clamp(1rem, 4vw, 1rem);

    border-radius: 8px;
    border: none;
    
    background-color: var(--red);

    font-size: clamp(0.6rem, 2vw, 1rem);
    font-weight: 700;
    color: white;
    cursor: pointer;
}
#products .product button i {
    margin-left: 4px;

    font-size: clamp(0.8rem, 2vw, 1rem);

    position: relative;
    top: 15%;
}